:root {
  --post: #333;
  --link: green;
  --media: blue;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-areas: "main aside";
    grid-template-columns: 1fr 300px;
    grid-column-gap: 1rem;
  }
}

main {
  display: contents;
}
@media (min-width: 768px) {
  main {
    display: block;
    grid-area: main;
  }
}

aside {
  display: contents;
}
@media (min-width: 768px) {
  aside {
    display: block;
    grid-area: aside;
  }
}

article {
  border: 1px solid var(--post);
  color: var(--post);
  padding: 0.5rem;
  margin-bottom: 1rem;
}
article h2 {
  font-size: 20px;
  margin: 0 0 0.25rem;
}
article p {
  margin-bottom: 0;
}
article[data-type=link] {
  border-color: var(--link);
  color: var(--link);
}
article[data-type=media] {
  border-color: var(--media);
  color: var(--media);
}